@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
@layer base {
  html,
  body {
    font-family: "DM Sans", serif;
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #feffe5;
  }

  body::-webkit-scrollbar-thumb {
    background: #ed952b;
    border-radius: 5px;

  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: #FEFCF7 #e5f2ff;
    }
  }
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
 
  
}